<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.evlast.face_back.mapper.EquipmentMapper">

    <resultMap id="BaseResultMap" type="org.evlast.face_back.domain.Equipment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="labId" column="lab_id" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="OTHER"/>
            <result property="borrowCount" column="borrow_count" jdbcType="INTEGER"/>
            <result property="lastBorrower" column="last_borrower" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,lab_id,
        status,borrow_count,last_borrower,
        created_at
    </sql>
</mapper>
